* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-dark: #111111;
  --background: #202020;
  --gray: #989899;
  --orange: rgb(255, 159, 10);
  --green: rgb(48, 209, 88);
  --red: rgb(255, 69, 58);
  --primary: #0a84ff;
  --primary-hover: #046eda;
  --shadow: 0px 1px 10px #00000015;
  --app-white: white;
  --border: 1px solid #c2c2c2;
}

.primary {
  color: var(--primary);
}

.orange {
  color: var(--orange);
}

.green {
  color: var(--green)
}

a {
  color: var(--primary);
}

.btn, .fa-trash, button, a:hover {
  cursor: pointer!important;
}

li {
  list-style: none;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  min-height: 100%;
  max-width: 1024px;
  padding: 1rem;
  margin: 72px auto 104px auto;
}

/* FORMS */
.form-group {

}

.form-control {
  font-size: 1rem;
  padding: .5rem;
  margin-top: .8rem;
  margin-bottom: .3rem;
  border-radius: .3rem;
  width: 100%;
  max-height: 36px;
  border: var(--border);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif!important;
  color: var(--gray);
}


label {
  font-size: .75rem;
}

/* AVATARS */
.avatar {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  padding: .25rem;
  margin: .25rem;
}

.medium {
  width: 72px;
  height: 72px;
  margin-bottom: .3rem;
}

.big {
  width: 96px;
  height: 96px;
  margin-bottom: 1rem;
}

/* BUTTONS */
input, button:focus {
  outline: none;
}

.btn {
  font-size: 1rem;
  border-radius: .3rem;
  padding: .5rem;
  margin: .5rem 0;
  border: var(--border);
  border: none;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--app-white);
  padding: .5rem 1rem;
  width: 100%;
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}

.button-icon {
  margin: 0 .7rem 0 .7rem;
  font-size: 1.3rem;
  width: 1.3rem;
}

.secondary-button {
  border: none;
  padding: .5rem;
  background-color: transparent;
  color: var(--primary);
  margin: 0;
  text-decoration: none;
  padding-bottom: .3rem;
  color: var(--primary);
}

.fa-chevron-left:hover {
  color: var(--primary-hover);
}


.secondary-button-icon {
  font-size: 1.2rem;
  margin: 0 .5rem 0 0;
}

.secondary-button:hover {
  color: var(--primary-hover);
}

.stats-label {
  font-size: .75rem;
  margin-top: .5rem;
}
