* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --border: 1px solid #00000030;
  --primary: blue;
  --gray: gray;
}

li {
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1024px;
  padding: 1rem;
  margin: 36px auto 72px auto;
}

/* FORMS */
.form-group {

}

.form-control {
  font-size: 1rem;
  padding: .5rem;
  margin-top: .3rem;
  border-radius: .3rem;
  width: 100%;
  border: var(--border);
}


label {
  font-size: .75rem;
}

/* AVATARS */
.avatar {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: var(--border);
}

/* BUTTONS */
.btn {
  font-size: 1rem;
  border-radius: .3rem;
  padding: .5rem;
  margin: .5rem 0;
  border: var(--border);
}

.btn:hover {
  cursor: pointer;
}
