.topbar {
  padding: .5rem 1rem 0rem 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  height: 64px;
}

.topbar-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.topbar .btn-secondary {
  margin-top: .5rem;
}
