.topbar {
  padding: 1rem 1rem .5rem 1rem;
  position: fixed;
  background-color: var(--background);
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  /* border-bottom: var(--border); */
}

.topbar-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
