.category-title {
  display: flex;
  justify-content: space-between;
}

.category-title h2 {
  font-size: 1.3rem;
  margin: .2rem 0;
}

.category-title button {
  font-size: 1rem;
}

.box-background {
  border-radius: 1rem;
  margin: 1rem 0;
}
