.category-title {
  display: flex;
  justify-content: space-between;
}

.category-title h2 {
  font-size: 1.3rem;
  margin: .2rem 0;
}

.category-title button {
  font-size: 1rem;
}

.box-background {
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 0 1rem;
}

.stats-list {
  display: flex;
  justify-content: space-evenly;
}

.stats-item {
  padding: 1rem;
  text-align: center;
}

.menu-item {
  padding: 1rem 0;
}

.menu-item a {
  text-decoration: none;
  color: var(--app-white);
}

.menu-item:last-of-type {
  border: none!important;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
}
