.admin-card-container {
  padding: .7rem 1rem;
  margin: 0;
}

.name-and-avatar {
  text-align: center;
}

.admin-card-header {
  display: flex;
  justify-content: space-between;
}

.hours-and-description {
  margin-top: .5rem;
}
