.card-container {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: .75rem;
}

.card-header h1 {
  font-size: 1.3rem;
}

.card-header small {
  text-align: right;
}

.name-and-avatar p {
  font-size: .75rem;
}

.hour-footer {
  display: flex;
  justify-content: space-between;
}
