.box-shadow {
  position: fixed;
  background-color: #00000075;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  border-radius: 1rem;
  padding: 1.5rem 1rem;
  background-color: var(--background);
  margin: 0 auto;
  box-shadow: var(--shadow);
}

.text-box h3 {
  text-align: center;
  margin: 1rem 0;
}

.text-box .btn {
  margin: 0 .3rem;
}

.fa-trash {
  font-size: 1.7rem;
}
