.navbar {
  position: fixed;
  border-top: var(--border);
  background: white;
  bottom: 0;
  width: 100%;
  padding-bottom: 1rem;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.nav-item {
  padding: 1rem;
  font-size: .75rem;
  text-decoration: none;
  color: var(--gray);
  text-align: center;
}

.nav-item i {
  font-size: 1rem;
  margin-bottom: .3rem;
}

.active-nav-item {
  color: var(--primary);
}
