.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 0;
  padding-bottom: env(safe-area-inset-bottom, 0);
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.nav-item {
  padding: 1rem;
}

.active-nav-item {

}
